[submodule "bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/py.test"]
	path = .vim/bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/yankring"]
	path = .vim/bundle/yankring
	url = https://github.com/richleland/vim-yankring.git
[submodule "bundle/simplefold"]
	path = .vim/bundle/simplefold
	url = https://github.com/pangloss/vim-simplefold.git
[submodule "bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = https://github.com/vim-scripts/ZenCoding.vim.git
[submodule "bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/rails"]
	path = .vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/ruby"]
	path = .vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/gist"]
	path = .vim/bundle/gist
	url = https://github.com/vim-scripts/Gist.vim.git
[submodule "bundle/jquery"]
	path = .vim/bundle/jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule "bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/xml"]
	path = .vim/bundle/xml
	url = https://github.com/othree/xml.vim.git
[submodule "bundle/l9"]
	path = .vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/ragtag"]
	path = .vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/sessionman"]
	path = .vim/bundle/sessionman
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "bundle/yaml"]
	path = .vim/bundle/yaml
	url = https://github.com/vim-scripts/yaml.vim.git
[submodule "bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
    url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule "bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vimaddon-mw-utils"]
	path = .vim/bundle/vimaddon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/nginx-vim-syntax"]
	path = .vim/bundle/nginx-vim-syntax
	url = git://github.com/evanmiller/nginx-vim-syntax.git
[submodule "bundle/showmarks"]
	path = .vim/bundle/showmarks
	url = git://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/colour-sampler"]
	path = .vim/bundle/colour-sampler
	url = git://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-css3-syntax"]
	path = .vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/indentline"]
	path = .vim/bundle/indentline
	url = git://github.com/Yggdroot/indentLine.git
[submodule "bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/docker"]
	path = .vim/bundle/docker
	url = https://github.com/honza/dockerfile.vim.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
