[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/simplefold"]
	path = .vim/bundle/simplefold
	url = https://github.com/pangloss/vim-simplefold.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/jquery"]
	path = .vim/bundle/jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = https://github.com/vim-scripts/Gist.vim.git
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/yankring"]
	path = .vim/bundle/yankring
	url = https://github.com/richleland/vim-yankring.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/l9"]
	path = .vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/ragtag"]
	path = .vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/yaml"]
	path = .vim/bundle/yaml
	url = https://github.com/vim-scripts/yaml.vim.git
[submodule ".vim/bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/mw-utils"]
	path = .vim/bundle/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/nginx-syntax"]
	path = .vim/bundle/nginx-syntax
	url = git://github.com/evanmiller/nginx-vim-syntax.git
[submodule ".vim/bundle/django"]
	path = .vim/bundle/django
	url = https://github.com/cwood/vim-django.git
[submodule ".vim/bundle/showmarks"]
	path = .vim/bundle/showmarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule ".vim/bundle/flake8"]
	path = .vim/bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/less"]
	path = .vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/coffeescript"]
	path = .vim/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/css3-syntax"]
	path = .vim/bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/indent-guides"]
	path = .vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/indent-line"]
	path = .vim/bundle/indent-line
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/bundle/docker"]
	path = .vim/bundle/docker
	url = https://github.com/honza/dockerfile.vim.git
[submodule ".vim/bundle/colour-sampler"]
	path = .vim/bundle/colour-sampler
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule ".vim/bundle/emmet"]
	path = .vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/ansible-yaml"]
	path = .vim/bundle/ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
