[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/simplefold"]
	path = .vim/bundle/simplefold
	url = https://github.com/pangloss/vim-simplefold.git
[submodule ".vim/bundle/emmet"]
	path = .vim/bundle/emmet
	url = http://github.com/mattn/emmet-vim/
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/jquery"]
	path = .vim/bundle/jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = https://github.com/vim-scripts/Gist.vim.git
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/yankring"]
	path = .vim/bundle/yankring
	url = https://github.com/richleland/vim-yankring.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/l9"]
	path = .vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/ragtag"]
	path = .vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/yaml"]
	path = .vim/bundle/yaml
	url = https://github.com/vim-scripts/yaml.vim.git
[submodule ".vim/bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
